.hero {
  --title-color: #091a49;
  --text-color: #091a49cc;
}

.hero {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  background-color: #ecf1ff;
  border-radius: 44px;
  font-weight: 800;
  position: relative;
  align-items: center;
  justify-items: center;
  padding-top: 46px;
}
.hero .text-and-buttons {
  padding-left: 89px;
  padding-bottom: 61px;
}

.hero h1 {
  padding-bottom: 12px;
  font-size: 72px;
  font-weight: 800;
  color: var(--title-color);
}

.hero p {
  font-size: 24px;
  line-height: 1.3;
  color: var(--text-color);
}

.hero .buttons {
  display: flex;
  gap: 12px;
  padding-top: 36px;
}

.hero .buttons button {
  width: 100%;
}

.hero .pets {
  display: block;
}

.images-footprints {
  position: absolute;
}

.paw-1 {
  bottom: 6%;
  left: 6%;
}

.paw-2 {
  top: 3%;
  right: 3%;
}

@media (max-width: 1024px) {
  .hero {
    border-radius: 20px;
  }
  .hero h1 {
    font-size: 54px;
  }

  .hero p {
    font-size: 24px;
  }

  .hero .text-and-buttons {
    padding-top: 20px;
    padding-left: 20px;
    text-align: center;
  }

  .paw-1 {
    bottom: 2%;
    left: 2%;
    width: 68px;
  }

  .paw-2 {
    width: 100px;
  }
}

@media (max-width: 768px) {
  .hero {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .hero .text-and-buttons {
    padding-left: 0;
    max-width: 271px;
  }

  .hero .buttons {
    justify-content: center;
  }

  .hero h1 {
    padding: 38px 0 12px;
    font-size: 38px;
    text-align: center;
  }

  .hero p {
    font-size: 16px;
  }

  .hero .button--secondary {
    display: none;
  }

  .paw-1 {
    top: 1%;
    left: 1%;
    max-width: 50px;
  }

  .paw-2 {
    top: 45%;
    right: 6%;
    max-width: 80px;
  }
}
