.number-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 44px;
  max-width: 361px;
  width: 100%;
  height: 245px;
}
.number-card__number {
  color: #ff8c00;
  font-size: 65px;
  font-weight: 800;
  line-height: 1.2;
}

.number-card__text {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  line-height: 1.3;
  text-align: center;
  color: rgba(10, 12, 32, 0.75);
}

.number-card__title {
  font-weight: 800;
  font-size: 24px;
}

@media screen and (max-width: 768px) {
  .number-card {
    width: 100%;
    border-radius: 0;
    margin: 0 auto;
    align-items: flex-start;
    padding: 10px 20px 15px;
    height: auto;
  }
  .number-card:first-child {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  .number-card:last-child {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  .number-card__number {
    font-size: 2.375rem;
    line-height: 1.3;
  }
  .number-card__text {
    font-size: 1rem;
    line-height: 1.3;
    text-align: left;
    display: flex;
    flex-direction: row;
    gap: 4px;
  }
}
