.our-way-section {
  margin: 72px 0 96px;
}

.timeline {
  display: flex;
  gap: 32px;
  justify-content: center;
  padding-top: 64px;
}

.our-way-section .section-subtitle {
  font-weight: 600;
  text-align: center;
  padding-top: 14px;
}
