.how-it-all-began-section {
  background-color: #ffffff;
  border-radius: 48px;
  padding: 64px 169px;
  margin: 0 146.5px;
}

.second-block {
  display: flex;
  gap: 32px;
  background: #ecf1ff;
  border-radius: 32px;
  padding: 32px;
  align-items: center;
}

.second-block img {
  height: 100%;
}

.first-block p,
.second-block p {
  font-size: 20px;
  line-height: 1.5;
  color: var(--text-color);
}

.first-block p {
  margin: 24px 46.5px 48px;
  text-align: center;
  font-weight: 600;
}

.second-block p {
  font-size: 16px;
  font-weight: 500;
  padding-top: 15px;
}
