@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Montserrat:wght@400;700&family=Baloo+Chettan:wght@400&display=swap');
:root {
  --font-primary: 'Inter', system-ui, Helvetica, Arial, sans-serif;
  --font-secondary: 'Nunito', sans-serif;
  --font-tertiary: 'Montserrat', sans-serif;
  --font-special: 'Baloo Chettan', sans-serif;
  --container-padding: 40px;

  font-family: var(--font-primary);
  line-height: 1.5;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f8f8f8;
}

h1 {
  font-size: 3.2rem;
  line-height: 1.1;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 var(--container-padding);
  box-sizing: border-box;
}

@media (max-width: 768px) {
  :root {
    --container-padding: 20px;
  }
}
